<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DB_SERVER" value=""/>
		<add key="DB_USER" value=""/>

		<add key="DB_PASS" value=""/>
		<add key="DB_NAME" value=""/>
		<add key="DB_SCHEMA" value=""/>
		<add key="SFTP_IP" value=""/>
		<add key="SFTP_USER" value=""/>
	</appSettings>
</configuration>
